
@{
    ViewBag.Title = "Home";
}


<style>
    body {
        background-image: url('../../scripts/Scheduler.jpg');
             background-position: inherit;
            background-repeat: no-repeat;
            background-size: 100% 600%; 
        }
</style>

<body>
    <h2>Welcome @User.Identity.Name</h2>

</body>