
@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url('../../scripts/About.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: 100% 180%;
    }
</style>
<body>
    <br /><br /><br />
    <h2>Our story</h2>

    <br /><br />
    <div >
        <h4 >
            The Jaguar story started in 1985 when we launched operations with just two aircraft.<br /><br />

            Today, we fly the world’s biggest fleets of Airbus A380s and Boeing 777s, offering our customers the comforts of the latest and most efficient wide-body aircraft in the skies.<br /><br />

            We inspire travelers around the world with our growing network of worldwide destinations, industry leading inflight entertainment, regionally inspired cuisine, and world-class service. Read on to find out more.
        </h4>
    </div>
</body>